
body {
  font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
  text-align: center;
  margin: 0 auto;
  background: #222 url("/img/dark_wall.png");
  color: #ddd;
}
header, section, footer {
  width: 640px;
  margin: 0 auto 48px;
}
a:link, a:visited {
  color: #ccc;
  font-weight: normal;
  background: transparent;
}
#logo {
  display: block;
  margin: 0 auto;
  border: 0;
  width: 640px;
  height: auto;
}
p, li {
  font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #ccc;
  text-shadow: #000 1px 1px 1px;
}
p {
  margin-bottom: 24px;
}
ul, ol {
  margin-bottom: 48px
}
li {
  list-style: none;
  padding: 6px 0;
}
section h1 {
  text-transform: uppercase;
  /*font-family: 'distressed-wood', serif;*/
  color: orange;
  text-shadow: red 1px 1px 0;
  font-size: 48px;
  line-height: 48px;
  margin: 48px 0;
}
section h2 {
  text-transform: uppercase;
  color: orange;
  text-shadow: red 1px 1px 0;
  font-size: 32px;
  line-height: 48px;
  margin: 0;
}
footer h1 {
  font-size: 28px;
  line-height: 48px;
  margin: 24px auto 0;
  color: #ccc;
  text-shadow: black 1px 1px 0;
}
.food-quantity {
  font-weight: bold;
  color: #ccc;
}
.icon img{
  width: 37px;
  height: 37px;
  border: 0px;
  border-radius: 20%;
}
.precio {
  font-weight: bold;
  color: #fff1ec;
  text-shadow: #000 1px 1px 1px;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
}
